.searchInputs {
    margin-top: 105px;
    display: flex;
}

.search input {
    background-color: aliceblue;
    /* border: 0; */
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

input:focus {
    outline:none
}

.searchIcon svg {
    font-size: 35px;
}
