body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* #191a1b color of homepage*/
/* .svg2 {
  background-color: #ffffff;
  filter: invert(89%);
} */

#container {
  padding: 10% 20%;
}
.checkBoxes {
  float: right;
  width: 160px;
  height: 900px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurp green;
  scrollbar-width: thin;
  font-size: 20px;
  background-image: url("https://fvmstatic.s3.amazonaws.com/maps/m/WRLD-EPS-01-0007.png");
  background-size: contain;
}
.checkbox {
  position: relative;
  display: inline-block;
  background: #fee102;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

.confine {
  display: flex;
  background-color: #ffffff;
  filter: invert(89%);
}

/***********************
Chart2 (svg2)  Css Here
************************/
.axis path {
  stroke: black;
  stroke-width: 2px;
}

.axis line {
  stroke: black;
  stroke-width: 1.5px;
}

.axis text {
  fill: black;
  font-weight: bold;
  font-size: 14px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.legend text {
  fill: black;
  font-family: "Arial Black", Gadget, sans-serif;
}

/************
App.js Css Here
************/
.App {
  width: 100vw;
  height: 100vh;
}

/************
Navi.js Css Here
************/
.navbar_container {
  color: blue;
}
#navi {
  background-color: #191a1b;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/*************************
Navi.js Css Here - LEFTSIDE
*************************/
#navi .leftside {
  flex: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}
#navi .leftside .links {
  max-height: 80px;
}
#navi .leftside a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

#home-icon {
  height: 65px;
  width: 85px;
  margin: 10px;
}

#navi .leftside .button {
  display: none;
}

/*************************
Navi.js Css Here -MIDDLE
*************************/
#navi .middle {
  flex: 40%;
  /* background-color: rgb(231, 39, 25); */
  background-color: #191a1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navi .middle .links {
  max-height: 80px;
}

#navi .middle .links a {
  text-decoration: none;

  font-size: 25px;
  margin-left: 15px;
}

#navi .middle #hidden {
  display: flex;
}

/*************************
Navi.js Css Here -RIGHT
*************************/
#navi .rightside {
  flex: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 25px;
}

#navi .rightside input {
  width: 160px;
  height: 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}

.rightside button {
  height: 53px;
  width: 80px;
  border-radius: 6px;
  font-size: 16px;
}

#navi .rightside .media-link {
  color: aliceblue;
  padding-right: 25px;
}

/******************************************
SET THE SIZE  AGAIN WHEN THE PIXEL CHANGING
*******************************************/

@media only screen and (max-width: 1350px) {
  #navi .leftside a {
    font-size: 17px;
  }
  #navi .middle .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  #navi .leftside a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1350px) {
  #navi .leftside a {
    font-size: 15px;
  }

  .rightside button {
    height: 50px;
    width: 50px;
    border-radius: 6px;
    font-size: 10px;
  }

  #navi .rightside input {
    width: 50px;
    height: 13px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 15px;
    color: black;
  }
}

@media only screen and (max-width: 700px) {
  #navi .leftside a {
    font-size: 15px;
  }

  .rightside button {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    font-size: 10px;
  }

  #navi .rightside input {
    width: 50px;
    height: 8px;
    border: none;
    border-radius: 3px;
    font-size: 9px;
    padding-left: 15px;
    color: black;
  }
}

@media only screen and (max-width: 1050px) {
  #navi .middle .links {
    display: none;
  }
}

@media only screen and (max-width: 880px) {
  #navi .leftside .charts {
    display: none;
  }

  #navi .leftside .button {
    display: flex;
  }

  #navi .middle #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    max-height: 320px;
    width: 20%;
    background-color: #021e39;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
  }

  #navi .middle #hidden a {
    margin: 5px;
    font-size: 12px;
  }

  #navi .middle {
    background-color: #021e39;
    flex: 0%;
  }

  #navi .rightside {
    flex: 40%;
  }
}

/* set chart list display:none */
@media only screen and (max-width: 1500px) {
  #navi .middle .chartlist {
    visibility: hidden;
  }
}

/* .charts {
  overflow: default;
} */
.dropbtn {
  background-color: #191a1b;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #021e39;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6d777c;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #6d777c;
}

/* ***************** HomePage ******************** */

.container__item {
  margin: 0 auto 40px;
}

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff7f5;
  /* background-color: #eff3f4; */
  background-image: url("https://i.pinimg.com/originals/2e/e6/99/2ee6998e34c3e2eff7b894c66cfc5267.jpg");
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  position: relative;
  top: 40%;
  letter-spacing: 0.2rem;
  left: -11.5rem;
  margin: 0;
}

.ellipses-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.greeting {
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3.7rem;
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0.7;
  color: #ffffff;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(255, 248, 248, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thin::after {
  content: "";
  background-image: url("https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #f0fdff transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #eefdff;
  top: 5rem;
  right: 6.75rem;
}

.scroller {
  width: 7.5rem;
  float: right;
  position: relative;
  top: -15%;
  transform: translateY(50%);
  overflow: hidden;
}

.page-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5rem;
  float: left;
  margin-top: 1rem;
}

.timeline {
  width: 1.5rem;
  height: 9rem;
  float: right;
}
.timeline__unit {
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: #ddb7a3;
  margin: 0 0 2rem;
  opacity: 0.2;
}
.timeline__unit--active {
  opacity: 0.7;
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* %%%%%%%%%%%%%%%% FEEDBACK %%%%%%%%%%%%%%%% */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}
#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #13476a;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}


/* ############# ABOUT US ############### */

.topics {
  height: 5em;
}

/* .plotLinear {
  background-color: #ffffff;
  filter: invert(89%);
}
.plotArrow1 {
  background-color: #ffffff;
  filter: invert(89%);
} */

@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
}
body {
  background: url(http://img6.uploadhouse.com/fileuploads/17737/17737075bdad5cfa9423bb2c3c2beee695c72bb8.jpg);
  /* color: #b1b1b1; */
  /* margin: 15px auto 0; */
  /* width: 410px; */
}
#contact {
  /* overflow: auto; */
  text-align: center;
}
#contact #form {
  width: 410px;
  float: center;
  position: relative;
  left: 650px;
  top: 260px;
}
#contact #form h2 {
  font: 48px "Bree Serif", Georgia, serif;
}
#contact #form span {
  display: block;
  float: left;
  width: 100px;
  padding-top: 5px;
  font: 14px/16px "Bree Serif", Georgia, serif;
  filter: invert(100%);
}
#contact #form input {
  float: left;
  width: 255px;
  border: 0px;
  color: #f1f1f1;
  padding: 10px 10px 10px 30px;
  font: 11px/20px "Open Sans", Verdana, Helvetica, sans-serif;
  margin-bottom: 10px;
}
#contact #form textarea {
  float: left;
  border: 0px;
  width: 255px;
  height: 140px;
  padding: 10px 10px 10px 30px;
  font: 11px/20px "Open Sans", Verdana, Helvetica, sans-serif;
  color: #f1f1f1;
  resize: none;
}
#contact #form input.name {
  background: #222222
    url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png)
    no-repeat 10px 8px;
}
#contact #form input.email {
  background: #222222
    url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png)
    no-repeat 10px 9px;
}
#contact #form input.captcha {
  background: #222222
    url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png)
    no-repeat 10px 9px;
}
#contact #form textarea.message {
  background: #222222
    url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png)
    no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: right;
  padding: 0px 0px 5px 0px;
  margin: 10px 16px 0px 0px;
  background: #222222;
  color: #f1f1f1;
  font: 14px/16px "Bree Serif", Georgia, serif;
}
#contact #captcha span {
  width: 44px;
}
#contact #captcha input {
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png)
    no-repeat scroll 0 0 transparent;
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}

