body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(green, blue)
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.search {
  width: 240px;
}
#container {
  padding: 10% 20%;
}
.checkBoxes {
  float: right;
  width: 260px;
  height: 850px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurp green;
  scrollbar-width: thin;
  font-size: 20px;
  background-image: url("https://fvmstatic.s3.amazonaws.com/maps/m/WRLD-EPS-01-0007.png");
  background-size: contain;
}
.checkbox {
  position: relative;
  display: inline-block;
  background: #fee102;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

.confine {
  display: flex;
  background-color: #ffffff;
  filter: invert(89%);
}

.axis path {
  stroke: black;
  stroke-width: 2px;
}

.axis line {
  stroke: black;
  stroke-width: 1.5px;
}

.axis text {
  fill: black;
  font-weight: bold;
  font-size: 14px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.legend text {
  fill: black;
  font-family: "Arial Black", Gadget, sans-serif;
}

.App {
  width: 99.5vw;
  height: 100vh;
}




#D3 {
  border-radius: 50%;
  padding: 2px;
}





@media only screen and (max-width: 1350px) {
  #navi .leftside a {
    font-size: 17px;
  }
  #navi .middle .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  #navi .leftside a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1350px) {
  #navi .leftside a {
    font-size: 15px;
  }

  .rightside button {
    height: 50px;
    width: 50px;
    border-radius: 6px;
    font-size: 10px;
  }

  #navi .rightside input {
    width: 50px;
    height: 13px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 15px;
    color: black;
  }
}





.dropbtn {
  background-color: #191a1b;

  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-shadow: 0px 18px 36px 0px rgba(238, 238, 238, 0.404);
}

.dropdown-content a {
  color: white;
  background-color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: #6d777c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6d777c;
}

.container__item {
  margin: 0 auto 40px;
}



.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  position: relative;
  top: 40%;
  letter-spacing: 0.2rem;
  left: -11.5rem;
  margin: 0;
}

.ellipses-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.greeting {
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3.7rem;
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0.7;
  color: #ffffff;
}

.scroller {
  width: 7.5rem;
  float: right;
  position: relative;
  top: -15%;
  transform: translateY(50%);
  overflow: hidden;
}

.page-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5rem;
  float: left;
  margin-top: 1rem;
}

.timeline {
  width: 1.5rem;
  height: 9rem;
  float: right;
}
.timeline__unit {
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: #ddb7a3;
  margin: 0 0 2rem;
  opacity: 0.2;
}
.timeline__unit--active {
  opacity: 0.7;
}



#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}




.chartComponent {
  background-color: #ffffff;
  filter: invert(89%);
}



.img-responsive {
  height: 2em;
}
.quote {
  display: inline;
  font-family: papyrus;
  text-align: center;
  font-size: larger;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

#section01 {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN52ZuyOBkX594iqFcBi-iz2lMOv2rZzxHhQ&usqp=CAU)
    center center / cover no-repeat;
  height: 18em;
}

.panels {
  height: 66rem;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.panel1 {
  background-image: url(https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg);
}
.panel2 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWKNQihdqOn4lJTo-33D0LcFEInTrvUfwnQw&usqp=CAU);
}
.panel3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWKNQihdqOn4lJTo-33D0LcFEInTrvUfwnQw&usqp=CAU);
}
.panel4 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWKNQihdqOn4lJTo-33D0LcFEInTrvUfwnQw&usqp=CAU);
}
.panel5 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWKNQihdqOn4lJTo-33D0LcFEInTrvUfwnQw&usqp=CAU);
}

.panel > * {
  margin: 0;
  width: 30%;
  transition: transform 0.5s;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 51%;
  padding: 2px;
}

.panel *:first-child {
  transform: translatey(-100%);
}
.panel *:last-child {
  transform: translatey(100%);
}

.panel p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 20px;
}
.panel.active * {
  transform: translatey(0);
}
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);




#graphContainer {
  height: 90vh;
  width: 100vw;
  position: relative;
  font-size: 24px;
  
}

#plotContainer {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  top: 10%;
  background-color: white
}

#arrowPlotContainer {
  position: absolute;
  left: 23%;
  
  top: 10%;
  background-color: white
}

.bubble {
  border: 2px solid black;
  position: absolute;
  left: 20%;
  top: 10%;
  background-color: white
}

#yearFilterDiv {

  border: 2px solid black;
  position: absolute;
  left: 9%;
  top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: white
  
}

#yearFormDiv {
  display: flex;
  flex-direction: column;
  
 
}

#subjectFilterDiv {
 
  position: absolute;
  left: 9%;
  top: 35%;
  display: flex;
  justify-content: center;
  background-color: white;
 
}



#countryFilterDiv {
  border: 2px solid black;
  position: absolute;
  left: 70%;
  top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  height: 50vh;
  overflow: auto;
  background-color: white;
}



#linearRegressionCountryFilterDiv {
  border: 2px solid black;
  position: absolute;
  left: 76%;
  top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  height: 50vh;
  overflow: auto;
  background-color: white;
}

#countryFilterSearchInput {
  width: 200px;
  font-size: 20px;
  
}

#yearUpdateButton {
  font-size: 24px
}

#yearInput {
  font-size: 24px
}

#countryCheckBox {
    position: absolute;
    top: 15vh;
    left: 73.5vw;
    border: 2px solid black;
    padding: 20px 30px;
    font-size: 24px;
    background-color: white;
    
}

#regionCheckBox {
  position: absolute;
  top: 15vh;
  left: 75.5vw;
  border: 2px solid black;
  padding: 20px 30px;
  font-size: 24px;
  background-color: white;
  
}

#countryCheckbox > div {
  display: flex;
  
  margin-left: 20px
}